.settings {
    color: purple;
}

.form-group {
    display: inline;
}

.hanzi {
    display: inline;
    text-align: center;
    margin: 5px;
    border: 2px solid rgb(208, 226, 225);
    border-radius: 15px;
}

.character {
    font-size: 90px;
    width: 125px;
}

.mistake {
    color: red;
}

.chineseword {
    display: flex;
    justify-content: center;
}

.speller {
    font-size: 30px;
    padding-bottom: 10px;
}

.temporal-space {
    visibility: hidden;
}

.btn {
    background-color: blue;
    color: white;
    cursor: pointer;
}
