.settings {
    color: purple;
}

.form-group {
    display: inline;
}

.chineseword, .chinesewordT {
    display: flex;
    justify-content: center;
}

.hanzi, .hanziT {
    text-align: center;
    margin: 5px;
    border: 2px solid rgb(208, 226, 225);
    border-radius: 15px;

    transform: perspective(1000px) rotateY(var(--rotate-y, 0));
    transform-style: preserve-3d;
    transition: 200ms
}

.hanzi.flip {
    --rotate-y: 180deg;
}
.hanziT.flip {
    --rotate-y: 180deg;
}

.back {
    transform: rotateY(180deg);
}

.character, .characterT {
    font-size: 90px;
    width: 125px;
    backface-visibility: hidden;
}


.hanziT .back {
    transform: rotateY(180deg);
}

.mistake {
    color: red;
}



.speller {
    position: relative;
    top: -1.8em;
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.temporal-space {
    visibility: hidden;
}

.btn {
    background-color: blue;
    color: white;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
